@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #555;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}
h1 small, h2 small, h3 small {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

a:focus, a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
}
strong {
    font-weight: bold;
}
span1 {
    font-weight: 200;
}
.navbar-brand > img {
    margin-top: 5px;
}
.navbar {
    border: none;
}
.navbar-inverse {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #6189fb;
}
.navbar-inverse .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::after {
    left: 0;
    right: 0;
}
.navbar-inverse .navbar-nav > li > a::after {
    border-bottom: 3px solid #6189fb;
    bottom: 0;
    content: "";
    display: block;
    height: 0;
    left: 51%;
    position: absolute;
    right: 51%;
    transition: all 0.3s ease 0s;
}
.navbar ul li a {
    color: #6189fb;
    line-height: 40px;
    margin: 0 20px;
    padding: 20px 0 4px;
}

#float {
    float: right;
}
.login {
    left: -350px !important;
    padding-right: 14px !important;
    right: -101px !important;
}

.navbar-right .dropdown-menu {
    left: -670px;
    right: 15px;
    padding: 12px 5px;
}
.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.176);
}
.dropdown-menu label {
    display: block;
    margin-bottom: 0px;
    color: #fff
}
.navbar-brand {
    height: 80px;
    padding: 0 15px;
    color: #222 !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #222;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #222;
}
.bg-style {
    background: rgba(0, 0, 0, 0) url("../images/bg4.jpg") no-repeat scroll center top;
    background-size: cover;
    padding: 20px 0 30px;
}
.chart {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    padding: 10px;
    margin: 0px;
}
.free-register {
    background-color: #8085E8;
    color: #222;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 10px 10px 20px;
}
.free-register h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 200;
}
.free-register .btn.btn-danger.btn-lg {
    margin-left: 20px;
    margin-top: -15px;
}
.inline-form {
    background-color: transparent;
    padding: 15px 40px;
}
.inline-form label {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
.form-control {
    margin-right: 10px;
}
.well.form {
    background-color: #31436b;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}
/*Range SLIDER CSS*/
#slider12c .slider-track-high {
    background-color: #f2f2f2;
}

#slider12c .slider-track-low {
    background-color: #f2f2f2;
}

#slider12c .slider-selection {
    background: #31436B;
}
label.stratlabel { display: none; }
/*Tooltip CSS*/
.popper-content { display: none;}
.popover { max-width: 90%; margin-left: auto;margin-right: auto;}

.poperblock {
    background-color: #EEE;
    font-size: 14px;
    padding: 10px;
    margin-right: -5px;
    margin-left: -5px;
    width: 100%;
}
/**/
.buttons {
    padding: 25px 0px;
}
.advice {
    padding: 10px;
    margin-bottom: 20px;
}
.advice a {
    color: #f5f5f5;
}
.advice a:hover {
    color: #ccc;
}
.advice p {
    text-align: left;
}
.advice-bg-2 a {
    color: #333;
}
.advice-bg-2 a:hover {
    color: #555;
}
.advice-bg-1 {
    background-color: #31436B;
}
.advice-bg-2 {
    background-color: #90EE7E;
}
.advice-bg-3 {
    background-color: #8085E8;
}
footer {
    background-color: #181818;
    color: #999;
    padding: 20px 0 10px;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #fff;
}
address {
    line-height: 28px;
}
footer i {
    padding-right: 5px;
}
.dropdown-menu.subscription {
    left: -750px;
    padding: 12px 5px;
    right: -186px;
    top: 64px;
}

.dropdown-menu.transfers {
    left: -630px;
    padding: 12px 5px;
    right: -120px;
    top: 64px;
}
.dropdown-menu.profile {
    left: -670px !important;
    padding: 10px;
    right: -60px;
}
.dropdown-menu.profile label {
    color: #666;
    padding-left: 20px;
}
.dropdown-menu.profile span {
    border-bottom: 2px dotted #ccc;
    display: block;
    margin-bottom: 20px;
}
.radio input[type="radio"] {
    margin-left: -20px;
    position: relative;
}
.nav-tabs > li > a {
    color: #666;
    padding: 8px 11px;
    text-transform: capitalize;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #6189FB;
    border-color: #6189FB #6189FB transparent;
    color: #fff;
}
.nav-tabs.change {
    float: right;
    text-align: right;
    width: 20%;
}
.nav-tabs.change li {
    display: inline-block;
    float: none;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #eee;
    color: #222;
    text-decoration: none;
}
.investments {
    margin: 20px 0;
}
.investments .title {
    border-bottom: 6px solid #000;
    color: #444;
}
.investments span {
    display: block;
    text-align: right;
}
.investments hr {
    border-color: #000;
}
.investments b {
    color: #444;
}
.investments h4 {
    border-bottom: 1px solid #444;
    color: #444;
    padding-bottom: 5px;
}
.nav-tabs {
    border-bottom: 2px solid #000;
}
.graph {
    background-color: #ccc;
    padding: 80px;
    margin-top: 12px;
}
.objective {
    margin: 20px 0;
}
.objective h4 {
    color: #444;
    display: inline-block;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}
.objective b {
    color: #222;
}
.table > thead > tr > th {
    border-bottom: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
}


/*TRANSFER PAGE CSS*/
.border-line span {
    border-bottom: 2px solid #000;
}





.transfers .nav-tabs {
    border-bottom: none;
}
.transfers .nav-tabs > li {
    width: 50%;
}
.transfers .nav-tabs > li > a {
    color: #333;
    background-color: #eee;
    border: 1px solid transparent;
    border-color: #eee #eee #ddd;
    border-radius: 0;
    margin-right: 0px;
    padding: 8px 11px;
    line-height: 28px;
    text-transform: uppercase;
}
.transfers .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #6189fb;
    border-color: #6189fb #6189fb transparent;
    color: #fff;
}
.transfers .tab-content {
    border-top: none;
    border: 1px solid #ccc;
    padding: 30px 0 0;
}
.transfers form {
    padding: 0 10px;
}
.subscription .table tr th {
    padding: 13px 8px;
}
.subscription .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
    white-space: unset;
}


@media only screen and (max-width: 980px) and (min-width: 768px) {

    .navbar-right .dropdown-menu {
        left: -620px;
        margin: 7px 0!important;
    }
    .login {
        left: -320px !important;
    }
    .form-control {
        margin-right: 5px;
    }
    .well .form-control {
        margin-bottom: 12px;
        margin-right: 30px;
    }
    .free-register {
        padding: 10px 30px 10px 20px;
    }
    .free-register h2 {
        padding-left: 0px;
    }
    .free-register .btn.btn-danger.btn-lg {
        margin-top: 0px;
    }
    .inline-form {
        padding: 15px 30px;
    }
    .investments span {
        right: -20px;
    }
    .table > thead > tr > th {
        border-bottom: none;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: none;
    }
    .dropdown-menu.transfers {
        left: -500px;
        padding: 12px 5px;
        right: -125px;
        top: 70px;
    }
    .dropdown-menu.profile {
        left: -600px !important;
    }

    
    /*TRANSFER PAGE CSS*/
    .transfers .form-control {
        margin-bottom: 15px;
    }
    .color {
        margin-bottom: 15px;
    }
    .dropdown-menu.subscription {
        left: -470px;
        margin: 7px 0 !important;
        right: -190px;
    }
}


@media only screen and (max-width: 980px) and (min-width: 360px) {
    .nav-tabs.change {
        width: 40%;
    }
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
    #float {
        float: none;
    }
    .dropdown-menu label {
        color: #222;
    }
    .navbar-toggle {
        background-color: #333;
        top: 15px;
    }
    .navbar-brand > img {
        margin: 10px 0 0 -7px;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #eee;
    }
    .aggres {
        left: 265px !important;
    }
    .margin-top-xs {
        margin-top: 30px;
    }
    .free-register .btn.btn-danger.btn-lg {
        display: inline;
    }
    .well.form {
        margin-top: 25px;
    }
    .investments span {
        display: block;
        position: unset;
    }
    .nav-tabs.change {
        float: none;
        text-align: right;
        width: 100%;
    }
    .dropdown-menu.profile label {
        text-align: left;
    }
    .dropdown-menu.profile span {
        margin-top: 10px;
    }
}

/*NEW ADDING CSS*/
.heading-bg1 {
    background: transparent url("../images/heading-bg.jpg") no-repeat scroll center center / cover ;
    color: #fff;
    margin-bottom: 20px;
    margin-top: -20px;
}
.heading-bg2 {
    background: transparent url("../images/heading-bg.jpg") no-repeat scroll center center / cover ;
    color: #fff;
    margin: 0 0 20px;
}