


/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}


/* =============================================================================
  CONTENT
============================================================================= */
.video-content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  padding: 30px 0px;
  text-align: center;
}


/* =============================================================================
  VIDEO
============================================================================= */
.videos {
  position: fixed;
  top: 50%;
  left: 49.99%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
